@CHARSET "UTF-8";
span{
	height: 25px;
    width:60px;
    margin: 0px 0px 0px 10px;
	text-align:center;  
	display:inline-block;
}
span.next_content{
	margin-top:10px;
}
textarea{
    margin: 0px 10px 0px 10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-ms-border-radius:10px;
	-o-border-radius:10px;
	border-radius:10px;
}
